
<div ng-app="Unic" ng-controller="CarroController">
    <div class="btn-group-lg">
        <button style="border-radius:30px" type="submit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#adicionarCarro" ng-click="CarregarMarcas()">
            <i class="fa fa-plus-circle"></i>  Adicionar
        </button>
        <hr />
    </div>
    <div class="row">
        <div class="pesquisa input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input id="pesquisa" type="text" class="form-control form-input" aria-label="Small" placeholder="Pesquisar" ng-model="pesquisa">
        </div>
    </div>
    @* TABELA DE CARROS-----------------------------*@
    <table id="tabelaCarros" style="text-align:center" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th scope="col" hidden>CarroId</th>
                <th ng-click="orderByMe('marca')" scope="col">Marca</th>
                <th ng-click="orderByMe('modelo')" scope="col">Modelo</th>
                <th ng-click="orderByMe('placa')">Placa</th>
                <th ng-click="orderByMe('ano')" scope="col">Ano / Combustivel</th>
                <th ng-click="orderByMe('km')" scope="col">KM</th>
                @*<th ng-click="orderByMe('preco')" scope="col">Preço</th>*@
                <th ng-click="orderByMe('vendedor')" scope="col">Vendedor</th>
                <th ng-click="orderByMe('status')" scope="col">Status</th>
                <th scope="col">Vender</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ca in Carros | filter: pesquisa | orderBy: myOrderBy">
                <td hidden>{{ca.id}}</td>
                <td>{{ca.marca.nome}}</td>
                <td>{{ca.modelo.nome}}</td>
                <td>{{ca.placa}}</td>
                <td>{{ca.anoModelo.nome}}</td>
                <td>{{ca.km}}</td>
                @*<td>{{ca.precoVenda.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });}}</td>*@
                <td>{{ca.pessoaVendedora}}</td>
                <td>
                    <span class="badge badge-success rounded-pill d-inline" ng-if="ca.status == 1">
                        Disponivel
                    </span>
                    <span class="badge badge-primary rounded-pill d-inline" ng-if="ca.status == 2">
                        Vendido
                    </span>
                    <span class="badge badge-warning rounded-pill d-inline" ng-if="ca.status == 3">
                        Negociacao
                    </span>
                </td>
                <td>
                    <a data-toggle="modal" @*data-target="#movimentarCarro"*@ ng-click="SelecionarCarro(ca.id)"><i class="fa fa-money fa-lg"></i></a>
                </td>
                <td>
                    <a ng-click="DeletarCarro(ca.id)"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>

        </tbody>
    </table>
    <hr />
    <br />
    <div class="row float-right">
        <button class="btn btn-block col-1" style="color:black; background-color:aliceblue; text-align:center;" disabled>{{totalItems}} </button>
    </div>


    @* ADICIONAR CARROS----------------------------- *@
    <div class="modal fade" id="adicionarCarro" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Carro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="alert alert-danger" id="alerta" style="display:none;">
                    Você Precisa Preencher todos os campos <strong>!</strong>
                </div>                
                <div class="modal-body">
                    <form name="formAdc">
                        <div class="form-row">
                            <input ng-model="CarroId" hidden />
                            <div class="form-group col-sm-6">
                                <label for="Marca">Marca</label>
                                <select class="form-select form-control" id="Marca" ng-model="Marca" required>
                                    <option ng-repeat="marca in marcas" value="{{marca.codigo}}">
                                        {{marca.nome}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="Modelo">Modelo</label>
                                <select class="form-select form-control" id="Modelo" ng-model="Modelo" required>
                                    <option ng-repeat="modelo in modelos" value="{{modelo.codigo}}">
                                        {{modelo.nome}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr size="50">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="AnoModelo">Ano</label>
                                <select class="form-select form-control" name="AnoModelo" id="AnoModelo" ng-model="AnoModelo" required>
                                    <option ng-repeat="a in AnosModelos" value="{{a.id}}">
                                        {{a.nome}}
                                    </option>
                                </select>
                                <span ng-show="formAdc.AnoModelo.$touched && formAdc.AnoModelo.$invalid" style="color:red;">
                                    Você precisa preencher o Ano.
                                </span>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="KM">KM</label>
                                <input id="KM" type="number" name="km" class="form-control" ng-model="KM" required />
                                <div class="small">
                                    <span ng-show="formAdc.km.$touched && formAdc.km.$invalid" style="color:red;">
                                        Você precisa preencher o KM.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="Descricao">Descricao</label>
                                <input id="Descricao" type="text" class="form-control" name="Descricao" ng-model="Descricao" required />
                                <div class="small">
                                    <span ng-show="formAdc.Descricao.$touched && formAdc.Descricao.$invalid" style="color:red;">
                                        Você precisa preencher a descricao.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="PrecoVenda">Preco Compra</label>
                                <input id="PrecoCompra" type="text" class="form-control money" name="PrecoCompra" ng-model="PrecoCompra" required />
                                <div class="small">
                                    <span ng-show="formAdc.PrecoCompra.$touched && formAdc.PrecoCompra.$invalid" style="color:red;">
                                        Você precisa preencher o PrecoCompra.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="PessoaVendedora">Pessoa Vendedora</label>
                                <input id="PessoaVendedora" type="text" class="form-control" name="PessoaVendedora" ng-model="PessoaVendedora" required />
                                <div class="small">
                                    <span ng-show="formAdc.PessoaVendedora.$touched && formAdc.PessoaVendedora.$invalid" style="color:red;">
                                        Você precisa preencher informar o vendedor.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="Placa">Placa</label>
                                <input id="Placa" type="text" class="form-control" name="Placa" ng-model="Placa" required />
                                <div class="small">
                                    <span ng-show="formAdc.Placa.$touched && formAdc.Placa.$invalid" style="color:red;">
                                        Você precisa preencher a Placa.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="botaoSalvar" class="btn btn-success" ng-click="AdicionarCarro()" style="display:block">Salvar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="LimparCampo()">Cancelar</button>
                </div>
                <hr />
            </div>
        </div>
    </div>
    @{await Html.RenderPartialAsync("_VenderCarro");}
</div>

@section scripts
{
    <script src="~/js/CarroController.js"></script>
}

