
<div ng-app="Unic" ng-controller="CarroController">
    <div class="btn-group-lg">
        <button style="border-radius:30px" type="submit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#adicionarCarro" ng-click="exibirSalvar()">
            <i class="fa fa-plus-circle"></i>  Adicionar
        </button>
        <hr />
    </div>
    <div class="row">
        <div class="pesquisa input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input id="pesquisa" type="text" class="form-control form-input" aria-label="Small" placeholder="Pesquisar" ng-model="pesquisa">
        </div>
    </div>
    @* TABELA DE CARROS-----------------------------*@
    <table id="tabelaCarros" style="text-align:center" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th scope="col" hidden>CarroId</th>
                <th ng-click="orderByMe('marca')" scope="col">Marca</th>
                <th ng-click="orderByMe('modelo')" scope="col">Modelo</th>
                <th ng-click="orderByMe('placa')">Placa</th>
                <th ng-click="orderByMe('ano')" scope="col">Ano</th>
                <th ng-click="orderByMe('km')" scope="col">KM</th>
                @*<th ng-click="orderByMe('preco')" scope="col">Preço</th>*@
                <th ng-click="orderByMe('vendedor')" scope="col">Vendedor</th>
                <th ng-click="orderByMe('status')" scope="col">Status</th>
                <th scope="col">Vender</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ca in Carros | filter: pesquisa | orderBy: myOrderBy">
                <td hidden>{{ca.id}}</td>
                <td>{{ca.marca}}</td>
                <td>{{ca.modelo}}</td>
                <td>{{ca.placa}}</td>
                <td>{{ca.anoModelo}}</td>
                <td>{{ca.km}}</td>
                @*<td>{{ca.precoVenda.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });}}</td>*@
                <td>{{ca.pessoaVendedora}}</td>
                <td>
                    <span class="badge badge-success rounded-pill d-inline" ng-if="ca.status == 1">
                        Disponivel
                    </span>
                    <span class="badge badge-primary rounded-pill d-inline" ng-if="ca.status == 2">
                        Vendido
                    </span>
                    <span class="badge badge-warning rounded-pill d-inline" ng-if="ca.status == 3">
                        Negociacao
                    </span>
                </td>
                <td>
                    <a data-toggle="modal" @*data-target="#movimentarCarro"*@ ng-click="SelecionarCarro(ca.id)"><i class="fa fa-money fa-lg"></i></a>
                </td>
                <td>
                    <a ng-click="DeletarCarro(ca.id)"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>

        </tbody>
    </table>
    <hr />
    <br />
    <div class="row float-right">
        <button class="btn btn-block col-1" style="color:black; background-color:aliceblue; text-align:center;" disabled>{{totalItems}} </button>
    </div>


    @* ADICIONAR CARROS----------------------------- *@
    <div class="modal fade" id="adicionarCarro" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Carro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <input ng-model="CarroId" hidden />
                            <div class="form-group col-sm-6">
                                <label for="Marca">Marca</label>
                                <select class="form-select form-control" id="Marca" ng-model="Marca" required="required">
                                    <option ng-repeat="marca in marcas" value="{{marca}}">
                                        {{marca.nome}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="Modelo">Modelo</label>
                                <select class="form-select form-control" id="Modelo" ng-model="Modelo" required="required">
                                    <option ng-repeat="modelo in modelos" value="{{modelo.nome}}">
                                        {{modelo.nome}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr size="50">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="AnoModelo">Ano Modelo</label>
                                <input id="AnoModelo" type="number" class="form-control" ng-model="AnoModelo" required="required" />
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="KM">KM</label>
                                <input id="KM" type="number" class="form-control" ng-model="KM" required="required" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="Descricao">Descricao</label>
                                <input id="Descricao" type="text" class="form-control" ng-model="Descricao" required="required" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="PrecoVenda">Preco Compra</label>
                                <input id="PrecoCompra" type="text" class="form-control money" ng-model="PrecoCompra" required="required" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="PessoaVendedora">Pessoa Vendedora</label>
                                <input id="PessoaVendedora" type="text" class="form-control" ng-model="PessoaVendedora" required="required" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="Placa">Placa</label>
                                <input id="Placa" type="text" class="form-control" ng-model="Placa" required="required" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="botaoSalvar" class="btn btn-success" ng-disabled="error || incomplete" ng-click="AdicionarCarro()" style="display:block">Salvar</button>
                    @*<button type="button" id="botaoEditar" class="btn btn-success" ng-click="EditarCarro()" style="display:none">Editar</button>*@
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="LimparCampo()">Cancelar</button>
                </div>
                <hr />
            </div>
        </div>
    </div>
@{await Html.RenderPartialAsync("_VenderCarro");}
</div>

@section scripts
{
    <script src="~/js/CarroController.js"></script>
}

