<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniCar</title>
    <link rel="icon" type="image/x-icon" href="~/img/android-icon-36x36.png">
    <script type="text/javascript" src="~/js/Util/pace.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="logo-image">
                            <img src="~/img/apple-icon-60x60.png" class="img-fluid">
                        </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Carro" asp-action="Carro">Carro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Manutencao" asp-action="Manutencao">Manutencao</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
                <div>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{exPlaca}}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-row">
                                        <input ng-model="CarroId" hidden />
                                        <div class="form-group col-sm-3">
                                            <strong>{{exMarca}}</strong>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <strong>{{exModelo}}</strong>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <strong>{{exAnoModelo}}</strong>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <strong>{{exKM}}</strong>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <strong>{{exDescricao}}</strong>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <div class="container">
                                                <table class="table table-bordered" style="text-align: center;">
                                                    <thead>
                                                        <tr>
                                                            <th>Manutencao</th>
                                                            <th>Descricao</th>
                                                            <th>Valor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="ma in Carro.manutencoes">
                                                            <td>{{ma.origem}}</td>
                                                            <td>{{ma.descricao}}</td>
                                                            <td class="money">{{ma.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p class="text-sm-right">{{exValorTotalManutencao}}</p>
                                            </div>
                                        </div>
                                    </div>
                                        <hr/>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <h4>Informações de venda</h4>
                                    </div>
                                </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <label for="PrecoCompra">Preco Compra</label>
                                            <input id="PrecoCompra" type="number" class="form-control money" ng-model="exPrecoCompra" required="required" />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="PrecoVenda">Preco Venda</label>
                                            <input id="PrecoVenda" type="number" class="form-control money" ng-model="exPrecoVenda" required="required" />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="PessoaCompradora">Pessoa Compradora</label>
                                            <input id="PessoaCompradora" type="text" class="form-control" ng-model="exPessoaCompradora" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-6 align-baseline" style="text-align:left; font-size:20px;">
                                            <label id="status" class="badge badge-success rounded-pill d-inline" ng-if="exStatus == 1">
                                                Disponivel
                                            </label>
                                            <label id="status" class="badge badge-primary rounded-pill d-inline" ng-if="exStatus == 2">
                                                Vendido
                                            </label>
                                            <label id="status" class="badge badge-warning rounded-pill d-inline" ng-if="exStatus == 3">
                                                Negociação
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <hr />
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="botaoSalvar" class="btn btn-success" ng-disabled="error || incomplete" ng-click="EditarCarro()" style="display:block">Editar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="LimparCampo()">Cancelar</button>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
        
            
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Unic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
  

</body>
</html>
