
<div ng-app="Unic" ng-controller="ManutencaoController">

    <div class="row">
        <div class="pesquisa input-group mb-3 col-sm-4">

            <input id="Placa" type="text" class="form-control form-input" aria-label="Small" placeholder="Pesquisar Por Placa">
            <div class="input-group-prepend">
                <button class="btn fa fa-search" ng-click="SelecionarCarroPorPlaca()"></button>
            </div>

        </div>
    </div>

    <form class="form">
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm-6">
                    <input class="form-control" ng-model="Marca" readonly />
                </div>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="Modelo" readonly />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm-3">
                    <input class="form-control" ng-model="Ano" readonly />
                </div>
                <div class="col-sm-3">
                    <input class="form-control" ng-model="KM" readonly />
                </div>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="Descricao" readonly />
                </div>
            </div>
        </div>
    </form>
    <hr />

    <div class="btn-group-lg">
        <button style="border-radius:30px" type="submit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#adicionarManutencao">
            <i class="fa fa-plus-circle"></i>  Adicionar
        </button>
        <hr />
    </div>
    <div class="row">
        <div class="pesquisa input-group mb-3 col-sm-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input id="pesquisa" type="text" class="form-control form-input" aria-label="Small" placeholder="Pesquisar" ng-model="pesquisa">
        </div>
    </div>
    <table id="tabelaCusto" style="text-align:center" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Origem</th>
                <th>Descricao</th>
                <th>Valor</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ma in Manutencoes">
                <td>{{ma.origem}}</td>
                <td>{{ma.descricao}}</td>
                <td class="money">{{ma.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });}}</td>
                <td>
                    <a ng-click="DeletarManutencao(ma.id)"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <hr />
                <tr>
                    <td></td>
                    <td></td>
                    <td id="valorTotal">Total: {{ValorTotalManutencao}}</td>
                    <td></td>
                </tr>
        </tfoot>
    </table>

    <div class="modal fade" id="adicionarManutencao" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Manutencao</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-row">
                            <input ng-model="CarroId" hidden />
                            <div class="form-group col-sm-12">
                                <label for="Descricao">Descricao</label>
                                <input class="form-control" type="text" id="Descricao" ng-model="DescricaoManutencao" />
                            </div>
                        </div>
                        <hr size="50">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="Origem">Origem</label>
                                <input id="Origem" type="text" class="form-control" ng-model="OrigemManutencao" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="Modelo">Valor Manutenção</label>
                                <input class="form-control money" type="text" id="exModelo" ng-model="ValorManutencao" />
                            </div>
                        </div>
                    </form>
                    <hr />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="botaoSalvar" class="btn btn-success" ng-click="AdicionarManutencao()" style="display:block">Salvar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="LimparCampo()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

            @section scripts
{
                <script src="~/js/ManutencaoController.js"></script>
            }
